<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>CryptoCoin</title>

        <!-- Icon css link -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="vendors/flat-icon/flaticon.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="vendors/revolution/css/settings.css" rel="stylesheet">
        <link href="vendors/revolution/css/layers.css" rel="stylesheet">
        <link href="vendors/revolution/css/navigation.css" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
        <link href="vendors/animate-css/animate.css" rel="stylesheet">
        
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <div class="preloader">
            <div class="left_pre"></div>
            <div class="right_pre"></div>
            <div class="row m0 content">            
                <div class="circle">
                    <div class="red">
                        <div class="rotator">
                            <img src="img/curve.png" alt="">
                        </div>
                        <a href="#" class="logo"><img src="img/loading-img.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        
        <!--================Header Menu Area =================-->
        <header class="main_menu_area">
            <div class="main_menu_inner">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="my_toggle_menu">
                            	<span></span>
                            	<span></span>
                            	<span></span>
                            </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown submenu">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="index.html">Home 01</a></li>
                                        <li class="nav-item"><a class="nav-link" href="index-2.html">Home 02</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about-us.html">About Us</a>
                                </li>
                                <li class="nav-item dropdown submenu">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Services
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="service.html">Service 01</a></li>
                                        <li class="nav-item"><a class="nav-link" href="service-details.html">Service Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown submenu active">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="market-data.html">Market Data</a></li>
                                        <li class="nav-item"><a class="nav-link" href="wallet.html">Wallet</a></li>
                                        <li class="nav-item"><a class="nav-link" href="404.html">Error</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown submenu">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Shop
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="shop.html">Shop Page</a></li>
                                        <li class="nav-item"><a class="nav-link" href="checkout.html">Checkout</a></li>
                                        <li class="nav-item"><a class="nav-link" href="cart.html">Cart</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown submenu">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="blog.html">Blog 01</a></li>
                                        <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sign In?</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!--================End Footer Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_text">
                    <h4>Wallet</h4>
                    <a href="index.html">Home</a>
                    <span>/</span>
                    <a class="active" href="wallet.html">Wallet</a>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Free Wallet Area =================-->
        <section class="free_wallet_area p_100">
        	<div class="container">
        		<div class="wallet_email_box">
        			<div class="wallet_text">
        				<h5>Get a FREE Bitcoin wallet</h5>
        				<h2>Open A Wallet to buy Bitcoin and <br />Ethereum in three easy steps</h2>
        			</div>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Email" aria-label="Email">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button">Sign Up</button>
						</div>
					</div>
        		</div>
        		<div class="row wallet_item_inner">
        			<div class="col-lg-4 col-md-6">
        				<div class="wallet_item">
        					<h4>Sign Up</h4>
        					<p>Create a digital currency wallet where you can securely store digital currency.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="wallet_item">
        					<h4>Connect</h4>
        					<p>Connect your bank account, debit card, or credit card so that you can exchange digital currency into and out of your local currency.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="wallet_item">
        					<h4>Buy Digital Currency</h4>
        					<p>Buy some Bitcoin, Ethereum, and Litecoin to begin using the future of money.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Free Wallet Area =================-->
        
        <!--================Bitcoin Exchange Area =================-->
        <section class="bitcoin_exchange_area">
        	<div class="container">
        		<div class="row exchange_inner">
        			<div class="col-lg-6">
        				<div class="exchange_rate">
        					<div class="btcwdgt-chart" bw-theme="light"></div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="exchange_text">
        					<h4>Bitcoin Exchange</h4>
        					<p>Instant exchange, use your funds immediately</p>
        					<p>150+ countries and 30+ currencies supported</p>
        					<p>20+ deposit and withdrawal methods are available. Including credit or debit cards, bank transfers, and cash.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Bitcoin Exchange Area =================-->
        
        <!--================Bitcoin Mobile Exchange Area =================-->
        <section class="mobile_exchange_area">
        	<div class="container">
        		<div class="row m_exchange_inner">
        			<div class="col-lg-6">
        				<div class="m_exchange_text">
        					<h4>Bitcoin Mobile Wallet</h4>
        					<p>Whether you’re at home or on the go, you can use any of CoinsBank’s services via out convenient mobile app! Available for both Apple and Android devices.</p>
        					<p>Manage bitcoins on mobile phones or web browsers</p>
        					<p>Easy and secure way to send, receive, buy and sell bitcoins anytime, anywhere</p>
        					<a href="#"><img src="img/apple.png" alt=""></a>
        					<a href="#"><img src="img/google.png" alt=""></a>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="m_exchange_img">
        					<img class="img-fluid" src="img/m-exchange.png" alt="">
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Bitcoin Mobile Exchange Area =================-->
        
        <!--================By Bitcoin Area =================-->
        <section class="by_citcoin_area">
        	<div class="container">
        		<h4>Get Free CryptoCoin Wallet Now!</h4>
        		<p>Buy bitcoin instantly with over 150 different ways to pay</p>
        		<a class="solid_btn" href="#">Buy Bitcoin Now</a>
        	</div>
        </section>
        <!--================End By Bitcoin Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="footer_widgets_area p_100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <aside class="f_widget about_widget">
                                <img class="img-fluid" src="img/logo.png" alt="">
                                <p>Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc.</p>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <aside class="f_widget resource_widget">
                                <div class="f_title">
                                    <h3>RESOURCES</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>How to Buy Coin</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Coin Overview</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Blog News</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>How to Sell Coin</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <aside class="f_widget resource_widget support_widget">
                                <div class="f_title">
                                    <h3>SUPPORT</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>How to Buy Coin</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Coin Overview</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Blog News</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>How to Sell Coin</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <aside class="f_widget resource_widget support_widget">
                                <div class="f_title">
                                    <h3>ABOUT US</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Coin</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Carrers</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Team</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Our Project</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_copyright">
                <h5>© <script>document.write(new Date().getFullYear());</script> <a href="#">weThemez, Dev by Rocky Ahmed</a>. All Rights Reserved.</h5>
            </div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <!-- Extra plugin css -->
        <script src="vendors/counterup/jquery.waypoints.min.js"></script>
        <script src="vendors/counterup/jquery.counterup.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/animate-css/wow.min.js"></script>
        <script src="vendors/nice-select/jquery.nice-select.min.js"></script>
        <script src="vendors/parallax/parallax.min.js"></script>
        <script src="vendors/counterup/jquery.waypoints.min.js"></script>
        <script src="vendors/counterup/jquery.counterup.min.js"></script> 
        <script src="vendors/counterup/apear.js"></script>
        <script src="vendors/counterup/countto.js"></script>
        
        <script src="js/theme.js"></script>
    </body>
</html>