<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

  <style type="text/css">
    .imgBox
    {
      width: 180px;
      height: 225px;   
    }
    .imgBox:hover
    {
      -moz-box-shadow: 0 0 25px #ccc;
      -webkit-box-shadow: 0 0 25px #ccc;
      box-shadow: 0 0 25px #ccc;
    }
  </style>


<style>
   .modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
</style>






<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Gestiones Criptoactivos</title>

<!-- Custom fonts for this template-->
<link th:href="@{/plantillaAdmin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/plantillaAdmin/css/sb-admin-2.min.css}" rel="stylesheet"/>

<!-- Custom styles for this page -->
<link th:href="@{/plantillaAdmin/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet"/>
<link th:href="@{/plantillaAdmin/vendor/datatables/responsive.bootstrap4.min.css}" rel="stylesheet"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/inicio">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-comments-dollar"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Crypto Cuenta<!--  <sup>2</sup> --> </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Operaciones</span></a>
        </li>

      

     

        <!-- Nav Item - Pages Collapse Menu -->
 
    


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
              <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

          </ul>
          <!-- End of Sidebar -->

          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
          

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                  <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                      <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                          <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                              <i class="fas fa-search fa-sm"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </li>

                  <!-- Nav Item - Alerts -->
                

                  <!-- Nav Item - Messages -->
               

                  <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Nav Item - User Information -->
                  <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span th:text="${nombre}" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                      <img class="img-profile rounded-circle"
                      th:src="@{/plantillaUser/img/logout.png}" alt=""/>
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                      </a>
                    </div>
                  </li>

                </ul>

              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
				<div class="container-fluid">


					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Operaciones</h1>					
					</div>

					<!-- Content Row -->
					<div class="row">
					
						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-6 col-md-6 mb-6">
						
							<div class="card" style="width: 35rem;">	
								 <div class="card-header">
    							Comprar criptoactivos
  							</div>
																		
								<div class="card-body">								
									<p class="card-text">Solicita a Coincaex una gestión de compra, y paga
									 con transacciones bancarias inmediatas.</p>
									 <a href="buyCripto"  class="btn btn-warning">Comprar</a> 
									<!--<button id="buyCripto"  class="btn btn-warning">Comprar</button>-->
								</div>
							</div>
						
						
						
						</div>

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-6 col-md-6 mb-4">

							<div class="card" style="width: 38rem;">
							 <div class="card-header">
    							Vender criptoactivos
  							</div>													
								<div class="card-body">							
									<p class="card-text">Solicita a Coincaex la venta de tus criptoactivos, y recibe
									en dinero Fiat a tu cuenta bancaria.</p>
									<a href="sellCripto" class="btn btn-secondary">Vender</a>
								</div>
							</div>



						</div>

					

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
					
					
					
						</div>

						<!-- Pending Requests Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
						
						
						
						</div>
					</div>
					
					   <!--================Top Crypto About Area =================-->
		<section class="bitcoin_table_area">
				<div class="col-xl-13 col-lg-13">
			<div id="carrusel">
			
				<script type="text/javascript" async="" src="https://widgets.cryptocompare.com/serve/v1/coin/chartscroller?fsyms=BTC,ETH,LTC,DASH&tsyms=USD&amp;app=localhost"> </script> 
				
		    </div>
			
			</div>
		</section>		
		
		<br>
        <!--================Top Crypto About Area =================-->
		
        
   




					<div class="row">
						<div class="col-xl-13 col-lg-12">

							<ul class="nav nav-tabs" id="myTab" role="tablist">							
								<li class="nav-item">
	    							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#pills-compra" role="tab" aria-controls="home" aria-selected="true">Compra</a>
	  							</li>
	  							<li class="nav-item">
	    							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#pills-venta" role="tab" aria-controls="profile" aria-selected="false">Venta</a>
	  							</li>
	  							<li class="nav-item">
	    							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#pills-address" role="tab" aria-controls="profile" aria-selected="false">Billetera</a>
	  							</li>

							</ul>
							
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="pills-compra"
									role="tabpanel" aria-labelledby="home-tab">
									
			

									<div class="card shadow mb-4">
										<div class="card-header py-3">
											<h6 class="m-0 font-weight-bold text-primary">Solicitudes de Compra</h6>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table
													class="table table-striped table-bordered dt-responsive nowrap"	role="grid" id="ordenVenta" width="100%">
													<thead>
														<tr>
															<th>Orden</th>
															<th>Estado</th>
															<th>Fiat</th>
															<th>Moneda</th>
															<th>Enviado Cripto</th>
															<th>Criptomoneda</th>
															<th>Tipo Pago</th>
															<th>Fecha</th>	
															<th>Cancelacion</th>											
														</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
									
									
									
								</div>


								<div class="tab-pane fade" id="pills-venta" role="tabpanel"	aria-labelledby="profile-tab">

									<div class="card shadow mb-4">
										<div class="card-header py-3">
											<h6 class="m-0 font-weight-bold text-primary">Solicitudes de Venta</h6>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table
													class="table table-striped table-bordered dt-responsive nowrap"
													role="grid" id="ordenCompra" width="100%">
													<thead>
														<tr>
															<th>Orden</th>
															<th>Estado</th>
															<th>Recibido Fiat</th>
															<th>Moneda</th>
															<th>Enviado Criptomonedas</th>
															<th>Criptomoneda</th>
														    <th>Cuenta Bancaria</th>
														    <th>Tipo Cuenta Bancaria</th>
														    <th>Fecha Solicitud</th>		
														    <th>Cancelación</th>													    
														</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
								</div>
								
								<div class="tab-pane fade" id="pills-address" role="tabpanel"
									aria-labelledby="pills-profile-tab">




									<div class="card shadow mb-4">
										<div class="card-header py-3">
											<h6 class="m-0 font-weight-bold text-primary">Registro
												de billeteras</h6>
										</div>
										<div class="card-body">
									
												<div class="form-row">
													<div class="form-group col-md-3">
														<label for="billeteraInput">Nombre de la billetera</label> <input
															type="text" class="form-control" id="billeteraInput"
															placeholder="Nombre">
													</div>
													<div class="form-group col-md-5">
														<label for="direccionInput">Direccion</label> <input
															type="text" class="form-control" id="direccionInput"
															placeholder="Direccion">
													</div>
													<div class="form-group col-md-3">
														<label for="direccionInput">Tipo Criptomoneda</label> 
														<select class="form-control" id="idTypeCrypto">
													      <option value="1">BTC</option>
													      <option value="2">ETH</option>
													      <option value="3">USDT</option>										
													    </select>
																											
												
													</div>
												</div>

												<button type="button" id="registrar" class="btn btn-primary">Registrar</button>
										

										</div>
									</div>



									<div class="card shadow mb-4">
										<div class="card-header py-3">
											<h6 class="m-0 font-weight-bold text-primary">Direcciones para recepcion de fondos criptoactivos</h6>
										</div>
										<div class="card-body">
											<div class="table-responsive">
												<table
													class="table table-striped table-bordered dt-responsive nowrap"
													role="grid" id="criptoAddress" width="100%">
													<thead>
														<tr>
															<th>Dirección</th>
															<th>Nombre</th>
															<th>Fecha</th>			    
														</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>

					<!--Peticion de Compra Nuevo Modal-->
					<div class="modal fade" id="viewBuyModal" tabindex="-1"
						role="dialog" data-backdrop="static" data-keyboard="false"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Petición
										orden de compra</h5>
								</div>
								<div class="modal-body">
								<div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                 <!--  <div class="row">  -->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-12">
                        <div class="p-5">                     
                            <form id="upload-voucher-form" class="user">
                                <div class="form-group row">
                                	<div class="col-sm-5">
                                        <label for="sel1">Valor fiat:</label>
                                        <input type="text" class="form-control form-control-user" id="valorFiat" placeholder="Valor">
                                    </div>
                                         <div class="col-sm-3">
                                        <label for="sel1">Moneda:</label>
                                        <select id="monedaFiat" class="custom-select mb-3">
                                            <option value="0" selected>Seleccionar</option>
                                            <option value="1">Quetzales</option>
                                            <option value="2">Dolares</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="sel1">Tipo de Pago:</label>
                                        <select onchange="showPay()"  id="tipoPago" class="custom-select mb-3">
                                            <option value="0" selected>Seleccionar</option>                                      
                                            <option value="2">Transferencia de otros Bancos</option>
                                            <option value="3">Transferencia Bancaria BAC</option>
                                        </select>
                                    </div>
                                 
                               
                                </div>
                                <div id="bank">
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <div class="card">
                                            <h5 class="card-header">Información para deposito bancario</h5>
                                            <div class="card-body">
                                                <h5 class="card-title">BAC Reformador</h5>
                                                <p class="card-text">A nombre de: Novamining S.A. <br> Deposito Monetario Quetzales: 903473619 <br> Deposito Monetario Dolares: 902734615 </p>
                                                <a href="#" class="btn btn-primary">Copiar información</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                
                                <div id="voucherImage">
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <p>Cargar imagen del voucher en caso de deposito bancario:</p>
                                            <div class="custom-file mb-3">
                                                <input type="file" class="custom-file-input" id="voucher" name="voucher"> <label class="custom-file-label" for="voucher">Cargar imagen</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                  <div id="creditCard">
                                    <div class="form-group row">
                                   
                                            <div class="col-sm-4">
                                        <label for="sel1">Numero tarjeta de credito:</label>
                                        <input type="text" class="form-control form-control-user" id="numTarjetaCredito"  placeholder="xxxx xxxx xxxx xxxx">
                                   			 </div>
                                  
                                   
                                            <div class="col-sm-3">
                                        <label for="sel1">Codigo CVV:</label>
                                        <input type="text" class="form-control form-control-user" id="codigoCvv"  placeholder="CVV">
                                   			 </div>
                                
                                   
                                            <div class="col-sm-4">
                                        <label for="sel1">Fecha de vencimiento:</label>
                                        <input type="text" class="form-control form-control-user" id="fechaVencimiento"  placeholder="mes/año">
                                   			 </div>
                                 
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="sel1">Dirección de billetera:</label>
                                          <select  id="numBilletera"  class="custom-select mb-3">
                                            <option  value="0" selected>Tipo Criptomoneda</option>
                                            <option th:each="billetera : ${billeteras}" th:value="${billetera.id}" th:text="${billetera.descripcion}"></option>
                   
                                        </select>
                                        
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="sel1">Criptomoneda a comprar:</label>
                                        <select  id="monedaCripto" class="custom-select mb-3">
                                            <option value="0" selected>Seleccionar</option>
                                            <option value="1">Bitcoin</option>
                                            <option value="2">Etherum</option>
                                        </select>
                                      
                                    </div>
                                </div>
                                
                                <div id="address">
                                    <div class="form-group row">
                                        <div class="col-sm-8">
                                            <label for="sel1">Dirección seleccionada:</label>
                                        </div>
                                    </div>
                                </div>
                                
                       
                                
                                <br>


								<div class="text-center">

									<div class="col-sm-12">
										<div class="btn-group" role="group" aria-label="Basic example">								
											  <button id="uploadButton" type="button" class="btn btn-primary btn-lg">Solicitar</button>
											   <a href="inicio"  class="btn btn-secondary btn-lg">Cancelar</a>
										</div>
									</div>
						
								
								</div>



							</form>
                       
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/buyCripto">¿Necesita ayuda?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login">Cerrar sesión</a>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>


								</div>
							</div>
						</div>
					</div>
					<!-- Termina Compra Nuevo Modal-->




				</div>
              <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                <div class="copyright text-center my-auto">
                  <span>Copyright &copy; INFOSYS 2020</span>
                </div>
              </div>
            </footer>
            <!-- End of Footer -->

          </div>
          <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea cerrar la sesión?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                Seleccione logout para cerrar la sesión.
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="logout">Logout</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="viewUserModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos personales del solicitante</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="form-group row">

                 <div class="col-sm-4">
                   <label style="font-weight:bold" class = "col-sm-2 control-label">Nombre</label>
                   <div class = "col-sm-10">
                     <p id="nombre" class = "form-control-static"></p>
                   </div>

                 </div>
                 <div class="col-sm-4">
                   <label style="font-weight:bold" class = "col-sm-2 control-label">Apellido</label>	
                   <div class = "col-sm-10">
                     <p id="apellido" class = "form-control-static"></p>
                   </div>
                 </div>
                 <div class="col-sm-4">
                  <label style="font-weight:bold" class = "col-sm-2 control-label">Telefono</label>	
                  <div class = "col-sm-10">
                   <p id="telefono" class = "form-control-static"></p>
                 </div>
               </div>
             </div>



             <div class="form-group row">									
               <div class="col-sm-4">
                <label style="font-weight:bold" class = "col-sm-2 control-label">Correo</label>	
                <div class = "col-sm-10">
                 <p id="correo" class = "form-control-static"></p>
               </div>
             </div>

             <div class="col-sm-4">
               <label style="font-weight:bold" class = "col-sm-2 control-label">Nit</label>	
               <div class = "col-sm-10">
                 <p id="nit" class = "form-control-static"></p>
               </div>								
             </div>
             <div class="col-sm-4">
               <label style="font-weight:bold" class = "col-sm-2 control-label">Dpi</label>	
               <div class = "col-sm-10">
                 <p id="dpi" class = "form-control-static"></p>
               </div>
             </div>

           </div>


           <div class="form-group row">

             <div class="col-sm-6 mb-3 mb-sm-0">
               <label style="font-weight:bold" class = "col-sm-2 control-label">Genero</label>	
               <div class = "col-sm-10">
                 <p id="genero" class = "form-control-static"></p>
               </div>
             </div>

           </div>



           <div class="form-group row">

             <div class="col-sm-4">
               <label style="font-weight:bold" class = "col-sm-2 control-label">Rostro</label>	

               <div class = "col-sm-10">
                <div class="imgBox" id="rostro">


                </div>

              </div>
            </div>

            <div class="col-sm-4">
             <label style="font-weight:bold" class = "col-sm-2 control-label">Frontal</label>	

             <div  class = "col-sm-10">
              <div class="imgBox"  id="dpiFrontal">


              </div>

            </div>
          </div>
          <div class="col-sm-4">
           <label style="font-weight:bold" class = "col-sm-2 control-label">Reverso</label>	

           <div class = "col-sm-10">
            <div class="imgBox"  id="dpiReverso">

             <canvas id="myCanvas" width="200" height="100"></canvas>


           </div>

         </div>
       </div>

     </div>
     <div class="form-group row">

       <div class="col-sm-12">
         <label style="font-weight:bold" class = "col-sm-8 control-label">Enviar Comentarios al solicitante por Email</label>
         <div class = "col-sm-12">  
           <textarea class="form-control" id="message" rows="3"></textarea>   
         </div>
       </div>		

     </div>









     <div class="modal-footer">
      <button id="aceptarUsuario" class="btn btn-warning" type="button">Aceptar</button>
      <button id="rechazarUsuario" class="btn btn-danger" type="button">Rechazar</button>
      <button id="cancelarUsuario" class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>         
    </div>
  </div>
</div>
</div>
</div>  







<!-- Bootstrap core JavaScript-->
<script th:src="@{/plantillaAdmin/vendor/jquery/jquery.min.js}"></script>

<script th:src="@{/plantillaAdmin/vendor/bootstrap/js/bootstrap.js}">

  <script th:src="@{/plantillaAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/plantillaAdmin/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/plantillaAdmin/js/sb-admin-2.min.js}"></script>


  
  <!-- Page level plugins -->

  <script th:src="@{/plantillaAdmin/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/plantillaAdmin/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/plantillaAdmin/vendor/datatables/dataTables.responsive.min.js}"></script>
  <script th:src="@{/plantillaAdmin/vendor/datatables/responsive.bootstrap4.min.js}"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  
  <!-- Page level custom scripts -->
  <script th:src="@{/plantillaAdmin/js/demo/datatables-demo.js}"></script>
  

  
  

  
  <script>


	  var nameUser ="[[${nombre}]]";
	  var idUser = [[${idUserSession}]];
	  
  
      $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
    
      
      function showPay(){
          var option = 	document.getElementById("tipoPago").value;
         	
          if(option>1){
        	  $("#bank").show();
        	  $("#voucherImage").show();
        	  $("#creditCard").hide();
          }
          
          if(option==1){
        	  $("#creditCard").show();
        	  $("#bank").hide();        
              $("#voucherImage").hide();	  
          }
          
          if(option==0){
        	  $("#creditCard").hide();
        	  $("#bank").hide();  
        	  $("#voucherImage").hide();
          }
        	
         }
         
        function uploadFile() {
            var form = $("#upload-voucher-form")[0];
            var data = new FormData(form);
            
            data.append("valorFiat", $("#valorFiat").val());
            data.append("monedaFiat", $("#monedaFiat").val());
            data.append("tipoPago", $("#tipoPago option:selected").val());
            data.append("numTarjetaCredito", $("#numTarjetaCredito").val());
            data.append("codigoCvv", $("#codigoCvv").val());
            data.append("fechaVencimiento", $("#fechaVencimiento").val());            
            data.append("numBilletera", $("#numBilletera option:selected").val());
            data.append("monedaCripto", $("#monedaCripto option:selected").val());
            data.append("tipoNegocio", 1);
            data.append("idUser", idUser);
 
            
            $.ajax({
                url: "/uploadFileBuy",
                type: "POST",
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                success: function(data) {
                    alert(data);
                    $("#valorFiat").val('');
                    $("#monedaFiat").val(0);
                    $("#tipoPago").val(0);
                    $("#numTarjetaCredito").val('');
                    $("#codigoCvv").val('');
                    $("#fechaVencimiento").val('');
                    $("#numBilletera").val(0);
                    $("#monedaCripto").val(0);                    
                    $("#creditCard").hide();
              	    $("#bank").hide();  
              	    $("#voucherImage").hide();
                    
                },
                error: function() {}
            });
        }


    $(document).ready(function() {
    	
    	
    	
    	
    	$("#buyCripto").click(function(){
    	//muestra el modal
		$('#viewBuyModal').modal('show');
    	
    	});
    	
    	 $("#creditCard").hide();
    	 $("#voucherImage").hide();
    	 $("#address").hide();
    	 $("#bank").hide();
    	 
    	
    	
        //$("#upload-file-input").on("change", uploadFile);
        $("#uploadButton").click(function() {
            uploadFile();
        });
    	
    	
    	
    	
    	$("#registrar").click(function(){
    		
    	
    		
    		var descripcion = $("#billeteraInput").val();
    		var direccion = $("#direccionInput").val();
    		var idCrypto = $( "#idTypeCrypto" ).val();
    		
    
    		    		
    		
			$.ajax({
				type : "post",
				url : "saveWallet",
				dataType : "text",
				data : {				
					descripcion : descripcion,
					direccion : direccion,
					idCrypto: idCrypto
				},
				success : function(data) {
					alert(data);
					criptoAddress.ajax.reload();
					
					$("#billeteraInput").val("");
					$("#direccionInput").val("");
					
				}
			});

    		
    	
    	
    	});
    	
    	
    	
    	
    	
    	
    	
    	 var criptoAddress= $('#criptoAddress').DataTable( {	    	
    	      "ajax" : {
    	        "url": "listCriptoAddress",
    	        "type": "POST"         
    	      },        
    	      "dataType" : "json", 
    	      "responsive": "true",
    	      "columnDefs": 
    	      [
    	     {
    	       "targets": [1],
    	       "visible": true,
    	       "className":"all"
    	     },
    	     ],

    	     "columns" : [           
    	     {"title": "Dirección" },
    	     {"title": "Nombre" },
    	     {"title": "Fecha"}    
    	     ]

    	   });



     var ordenVenta= $('#ordenVenta').DataTable( {	    	
      "ajax" : {
        "url": "listOrderSale",
        "type": "POST"         
      },        
      "dataType" : "json", 
      "responsive": "true",
      "paging": false,
      "columnDefs": 
      [        
	      {
	       "targets": [0],
	       "visible": true,
	       "className" : "all"
	     },
	     {
		    "targets": [1],
		     "visible": true,
		     "className":"all"
		     },
	     {
	       "targets": [2],
	       "visible": true,
	       "className":"all"
	     },	     
	     {
				"targets" : [ 3 ],
				"visible" : true,
				"className" : "all"
	    },	
	     {	"targets" : 8,
				"data" : null,
				"defaultContent" : "<button type='button' id='btnCancelVenta' class='btn btn-danger'>Cancelar</button>"
		 },
	   
     ],
     
     
     "columns" : [           
     {"title": "Orden" },
     {"title": "Estado" },
     {"title": "Enviado Fiat"},
     {"title": "Moneda"},
     {"title": "Recibido Cripto"},
     {"title": "Criptomoneda"},
     {"title": "Tipo Pago"},
     {"title": "Fecha"},
     {"title": "Cancelación"}
     ]

   });
     
     
     

     var ordenCompra= $('#ordenCompra').DataTable( {	    	
      "ajax" : {
        "url": "listOrderBuy",
        "type": "POST"         
      },        
      "dataType" : "json", 
      "responsive": "true",
      "paging": false,
      "columnDefs": 
      [        
      {
       "targets": [0],
       "visible": true,
       "className" : "all"
     },
     {
         "targets": [1],
         "visible": true,
         "className":"all"
       }, 
     {
       "targets": [2],
       "visible": true,
       "className":"all"
     }, 
     {
         "targets": [3],
         "visible": true,
         "className":"all"
      }, 
     {		"targets" : 9,
			"data" : null,
			"defaultContent" : "<button type='button' id='btnCancelCompra' class='btn btn-danger'>Cancelar</button>"
	 },

     ],

     "columns" : [          
     {"title": "Orden" },
     {"title": "Estado" },
     {"title": "Recibido Fiat"},
     {"title": "Moneda"},
     {"title": "Enviado Criptomonedas"},
     {"title": "Criptomonedas"},
     {"title": "Cuenta Bancaria"},
     {"title": "Tipo Cuenta Bancaria"},
     {"title": "Fecha Solicitud"},
     {"title": "Cancelación"}
     ]

   });
     
     
   

     
     $('#ordenCompra tbody').on('click','#btnCancelCompra',function(e) {

	
    		var currentRow = $(this).closest("tr");

			if (currentRow.hasClass('child')) {//Check if the current row is a child row
				currentRow = currentRow.prev();//If it is, then point to the row before it (its 'parent')
				console.log('child exist')
			}
			
			var data = ordenCompra.row(currentRow).data();

			var idOrden = data[0];
			
	
		

			$.ajax({
						type : "post",
						url : "getUpdateOrder",
						data : {
							idOrden : idOrden
						},
						success : function(json) {
							alert("Se hace petición de solicitud de cancelación, pero si ya fue aprobada la operación antes, no podra cancelarse");
							ordenCompra.ajax.reload();
						}
					});

		});
     
   
     
     $('#ordenVenta tbody').on('click','#btnCancelVenta',function(e) {

		

    		var currentRow = $(this).closest("tr");

			if (currentRow.hasClass('child')) {//Check if the current row is a child row
				currentRow = currentRow.prev();//If it is, then point to the row before it (its 'parent')
				console.log('child exist')
			}
			
			var data = ordenVenta.row(currentRow).data();

			idOrden = data[0];
		

			$.ajax({
						type : "post",
						url : "getUpdateOrder",
						data : {
							idOrden : idOrden
						},
						success : function(json) {
							alert("Se hace petición de solicitud de cancelación, pero si ya fue aprobada la operación antes, no podra cancelarse");
							ordenVenta.ajax.reload();
						}
					});

		});
     
   
	
     $('.nav-tabs a').on('shown.bs.tab', function(){
  	   // alert('The new tab is now fully shown.');
  		//ordenCompra.clear().draw();
  	    ordenCompra.ajax.reload();		
  	    ordenVenta.ajax.reload();
  	  });

     
     
     setInterval(function() {
     	ordenVenta.ajax.reload();
     	   }, 40000);
     
     setInterval(function() {
     	ordenCompra.ajax.reload();
     	   }, 40000);





   } );
    




 </script>

</body>

</html>
